.cart-row {
  margin: 20px;
  background-color: #FAC462;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  align-items: center;
}
.remove-from-cart {
  width: 100%;
  border-radius: 20px;
  padding: 2px 5px;
} 
.remove-from-cart-button {
  width: 18px;
  height: 18px;
}
.remove-from-cart p {
  margin: 0;
  padding: 0 5px;
  user-select: none;
}

